@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@media screen and (max-width:450px){
    header section{
        display: flex;
        justify-content: space-between;
    }
    header section ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ul-esquerda li a{
        display: inline-block;
        margin-left: 5px;
        border-bottom: 2px solid transparent;
        padding-bottom: 10px;
    }
    .ul-esquerda li:hover a{
        display: inline-block;
        margin-left: 5px;
        border-bottom: 2px solid blue;
        color: blue;
        padding-bottom: 10px;
    }
    .ul-direita li{
        margin-left: 0px;
        margin-right: 5px;
    }
    .header-todas {
        display: contents;
    }
   
    .header-gmail{
        display: none;
    }

    header section ul li a:hover{
        color: blue;;

    }

    header section ul li{
        list-style: none;
        margin-left: 10px;
    }
    header section ul li a{
        color: #111;;
        text-decoration: none;
        font-size: 14px;
    }
    header section ul li img{
        width: 35px;
        transform: translateY(3px);
    }
    header section ul li button{
        background: #4584ef;
        border: none;
        outline: none;
        padding: 8px 14px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 3px;
        cursor: pointer;
    }
    
    /* FIM DO HEADER / COMEÇO DO SEARCH */
    main {
        width: 580px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nomeGoogle{
        display: inline-flex;
    }
    .nomeGoogle > .boxLogo:nth-child(1){
        color: #4285f4;
    }
    .nomeGoogle > .boxLogo:nth-child(2){
        color: #ea4335;
    }
    .nomeGoogle > .boxLogo:nth-child(3){
       color: #fbbc05;
    }
    .nomeGoogle > .boxLogo:nth-child(4){
        color: #4285f4;
    }
    .nomeGoogle > .boxLogo:nth-child(5){
        color: #34a853;
    }
    .nomeGoogle > .boxLogo:nth-child(6){
        color: #ea4335;
    }
    .boxLogo h1{
        font-size: 80px;
        font-weight: 100;
    }
    
    /* fim letreiro / inicio searc */
    .principalSearch{
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .principalSearch .boxSearch {
        position: relative;
        width: 85%;
        margin-top: 20px;
    }
    .principalSearch .boxSearch .search{
        width: 100%;
        padding: 10px;
        padding-left: 45px;
        padding-right: 60px;
        border-radius: 30px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 16px;
        height: 45px;
        font-size: 18px;
    }
    .boxSearch .icons{
        position: absolute;
        top:-2px;
        width: 100%;
        display: flex;
        padding: 12px 20px;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        cursor: pointer;
    
    }
    .boxSearch .icons a{
        pointer-events: painted;
        text-decoration: none;
    }
    .boxSearch .icons .icons-direito a{
       text-decoration: none;
       pointer-events: painted;
    }
    /* fim search / inicio 2 botões */
    .buttons{
        margin-top: 20px;
    }
    .buttons button{
        margin: 0 5px;
        padding: 10px 15px;
        color: #555;
        font-size: 14px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid transparent;
    }
    /* footer */
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .boxRodape{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-size: 14px;
    }
    .boxRodape .esquerdo a {
        margin: 0px 5px;
        display: inline-block;
        padding: 5px 0px;
    }
    .boxRodape .direito a{
       margin: 0px 5px;
       display: inline-block;
       padding: 5px 0px;
    }
    .boxRodape .esquerdo  {
        
        display: inline-block;
        margin-right: 20px;
    }
    .boxRodape .direito {
       
       display: inline-block;
       
    }
    
}

@media screen and (min-width:451px) and (max-width:750px){

    .header-todas {
        display: none;
    }
   
    .header-gmail{
        display: contents;
    }

    header section ul{
        margin-right: 3%;
    }
    .principalSearch .boxSearch {
        max-width: 580px;
        width: 80%;
    }
    .boxRodape .esquerdo a {
        display: inline-block;
        padding: 5px 0px; 
    }
    .boxRodape .direito a{
        display: inline-block;
       padding: 5px 0px;
    }
    body a:hover{

        color: blue;
      
    }
}



